.map-container {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100svh;
  width: 100%;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 30px;
  height: 30px;
  border: 2px solid red;
  border-radius: 50%;
}

/* Horizontal line */
.crosshair::before,
.crosshair::after {
  content: "";
  position: absolute;
  background-color: red;
}

/* Vertical line */
.crosshair::before {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

/* Horizontal line */
.crosshair::after {
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
